{% extends 'master/layout.html' %}
{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col-lg-3">
                <div class="card radius shadow-lg">
                    <div class="card-body">
                        <span class="float-right font-weight--bold">{{ post.date_posted|date:"F d, Y" }}</span>
                        <div class="img-w-h-150 mx-auto mb-4">
                            <img src="https://www.techadvisor.co.uk/cmsdata/features/3660635/Android_800_thumb800.jpg" class="img-fluid img-thumbnail rounded-circle img-w-h-150" alt="">
                        </div>
                        <h4 class="text-info font-weight-bold text-center pt-2">{{ post.title }}</h4>
                        <h6 class="text-info text-center">By {{ post.author }}</h6>
                        <p class="">{{ post.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
