{% extends 'master/layout.html' %}
{% block content %}
    <h3 class="text-info">You have been logged out</h3>
    <div class="border-top pt-3">
        <span class="text-muted font-16">
            <a href="{% url 'login' %}" class="text-danger">Log In Again</a>
        </span>
    </div>
{% endblock %}