{% extends 'master/layout.html' %}
{% block content %}
    <div class="content-section col-lg-8 offset-lg-2">
        <div class="media">
            <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
            <div class="media-body">
                <h3 class="m-0">{{ user.username }}</h3>
                <small class="text-secondary">{{ user.email}}</small>
            </div>
        </div>
    </div>
{% endblock %}